*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aliceblue;
    padding-top: 16px;
}

.font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
    width: 80%;
    max-width: 2000px;
    margin: 0px auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu-size{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
#small{
    font-size: xx-small;
}
nav .menu-size a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.green{
    color: #469165;
    font-size: 72px;
    font-weight: 700;
}
.white{
    color: white;
    font-size: 72px;
    font-weight: 700;
}
.paragraph{
    color: white;
    font-size: smaller;
    font-weight: 0 auto;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
}
#banner{
    text-align: center;
    border: 1px solid red;
    height: 1363px;
    width: 2042px;
    margin: 24px 0px 0px 0px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
   display: flex;
}







#note{
    padding-top: 50px;
    margin: 0px 120px;
}
.Note-Taking h2{
    text-align: center;
}
.pp{
    text-align: center;
    margin: 0 auto;
    font-size: smaller;
}

#note .icon-box{
    background-color: aquamarine;
    display: flex;
    gap: 24px;
    padding: 20px;
}
.icon-card{
    padding: 10px;
    border: 1px solid red; 
    text-align: center;
}
.icon-card img{
    mask-size: 32px;
    text-align: center;
}
.icon-card p{
    font-size: small;
}







#space{
    margin: 120px;
    display: flex;
    align-items: center;
}

#sha{
    padding: 60px;
}
.the{
    font-size: smaller;
    color: #30B868;
}
.small{
    font-size: xx-small;
}
.dd{
    font-size: smaller;
}



#medil{
    text-align: center;
    padding: 80px;
    margin: 120px;
}
.faka{
    padding: 20px;

}




