*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aliceblue;
    padding-top: 16px;
}
li{
    list-style-type: none;
}

.font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    width: 1060px;
    margin: 0px auto;
}
.nav-wrapper{
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    width: 1060px;

}

nav .menu-size{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    display: flex;

}

#banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    padding: 179px 0;
}
.banner-conernt-wrapper{
    text-align: center;

}
.banner-title-image{
    background-color: white;
    padding: 10px 15px;
    border-radius: 50px;
    margin-bottom: 16px;
    width: fit-content;
    margin: 0 auto;

}
.banner-conernt-wrapper span{
    color: green;
}
.banner-btn{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


#small{
    font-size: xx-small;
}
nav .menu-size a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}


.btn1{
    border: 1px solid #fff;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    gap: 5px;
    align-items: center;

}

.btn1 span{
color: white;

}
.btn span{
    color: white;
}
.paragraph{
    color: rgb(241, 236, 236);
    font-size: smaller;
    font-weight: 0 auto;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
}

.White{
    color: white;
   font-size: 70px;

}
.green{
    color: green;
    font-size: 70px;

}


#note{
    padding-top: 50px;
    margin: 0px 120px;
}
.note-text{

}
.Note-Taking h2{
    text-align: center;

}
.pp{
    text-align: center;
    margin: 0 auto;
    font-size: smaller;
}

#note .icon-box{
    background-color: rgb(249, 246, 246);
    display: flex;
    gap: 24px;
    padding: 20px;
    margin: 15px;
}
.icon-card{
    padding: 10px;
    background-color: #d4dcd89a; 
    text-align: center;
}
.icon-card img{
    mask-size: 32px;
    text-align: center;
}
.icon-card p{
    font-size: small;

}







#space{
    margin: 120px;
    display: flex;
    align-items: center;
}

 #sha{
     padding: 60px;
}
.space-content-wrapper{
    display: flex;
    gap: 30px;
    align-items: center;
}
.space-info{
    width: 700px;
    text-align: left;
}
.space-info h4{

    font-size: 18px;
    color: green
   
}
.space-info h1{
    margin-bottom: 30px;
}
.space-info p{
    font-size: smaller;
    margin-bottom: 30px;
}
.space-info ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

#medil{
    padding: 80px 0;
}
#aa{
    padding: 15px;
    margin: 0 auto;
}

















#medil{

    text-align: center;
}
.faka{
    padding: 20px;

}

#medil .oo{
    width: 1060px;
    margin: 0px auto;
    padding: 80px 0;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 8px;
}
.meddil-btn{
    margin: 0 auto;
}
#ff{
    background-color: ##001931;
    margin-top:10px;
    padding: 20px;

}

.fooler1{
    background-color: #001931;
    color: white;
    padding: 120px 120px 10px 120px;
    
}
.majh{
   
    text-align: center;
    padding: 20px;
}
.flexi{
    margin: 0 auto;
    justify-content: space-between;

    display: flex;
}


.footer-icon {
    display: flex;
    gap: 10px;
}
.footer-icon .f-icones{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text h3{
    font-size: 30px;
}



