*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aliceblue;
    padding-top: 16px;
}

.font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
    width: 80%;
    max-width: 2000px;
    margin: 0px auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu-size{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu-size a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 16px;
    
}